<template>
  <div class="dashboard-container">
    <div>角色列表</div>

  <!--查询表单-->
  <div class="search-div">
      <el-form label-width="70px" size="small">
        <el-row>
          <el-col :span="24">
            <el-form-item label="角色名称">
              <el-input style="width: 100%" v-model="seachObj.roleName" placeholder="角色名称"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="display:flex">
          <el-button type="primary" icon="el-icon-search" size="mini"  @click="fetchData()">搜索</el-button>
          <el-button icon="el-icon-refresh" size="mini" @click="resetData()">重置</el-button>
        </el-row>
      </el-form>
    </div>

  <!-- 工具条添加角色 -->
  <div class="tools-div">
    <!-- 添加按钮 -->
    <el-button type="success" icon="el-icon-plus" size="mini" @click="addRoleBtnClicked()">添 加</el-button>
    <!-- 批量删除按钮 -->
    <el-button type="danger" icon="el-icon-delete" size="mini" @click="batchRemoveBtnClicked()">批量删除</el-button>
  </div>

    <!-- 表格 -->
    <el-table
      v-loading="listLoading"
      :data="list"
      stripe
      border
      style="width: 100%;margin-top: 10px;"
       @selection-change="handleSelectionChange">
      <el-table-column type='selection'/>
      <el-table-column
        label="序号"
        width="70"
        align="center">
        <template slot-scope="scope">
          {{ (page - 1) * limit + scope.$index + 1 }}
        </template>
      </el-table-column>

      <el-table-column prop="roleName" label="角色名称" />
      <el-table-column prop="roleCode" label="角色编码" />
      <el-table-column prop="createTime" label="创建时间" width="160"/>
      <el-table-column label="操作" width="200" align="center">
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-edit" size="mini" @click="editBtnClicked(scope.row)" title="修改"/>
          <el-button type="danger" icon="el-icon-delete" size="mini" @click="removeDataById(scope.row.id)" title="删除"/>
          <el-button type="warning" icon="el-icon-baseball" size="mini" @click="assignAuthBtnClicked(scope.row)" title="分配权限"/>
        </template>
      </el-table-column>
    </el-table>

    <!-- 分页条 -->
    <el-pagination
      @current-change="fetchData"
      :current-page="page"
      :page-size="limit"
      :total="total"
      layout="total, prev, pager, next, jumper"
      style="padding: 30px 0; text-align: center;"
       >
    </el-pagination>

    <!-- 弹框 -->
    <el-dialog title="添加/修改" :visible.sync="dialogVisible" width="40%" >
      <el-form ref="dataForm" :model="sysRole" label-width="150px" size="small" style="padding-right: 40px;">
        <el-form-item label="角色名称">
          <el-input v-model="sysRole.roleName"/>
        </el-form-item>
        <el-form-item label="角色编码">
          <el-input v-model="sysRole.roleCode"/>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false" size="small" icon="el-icon-refresh-right">取 消</el-button>
        <el-button type="primary" icon="el-icon-check" @click="insertOrUpdateRole()" size="small">确 定</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
//引入定义接口的js文件
import api from '@/api/system/role.js'
import router from "@/router";
export default {
  //定义初始值
  data(){
    return{
      listLoading:false,//是否显示加载图标
      list:[],//角色列表
      total:0,//总记录数
      page:1,//当前页
      limit:3,//每页显示记录数
      seachObj:{},//条件查询封装对象
      dialogVisible:false,//是否弹框
      sysRole:{},//封装添加的表单数据
      selectRoles:[]//选择的角色
    }
  },

  //页面渲染之前执行
  created(){
    //调用列表方法
    this.fetchData()
  },
  methods:{
    //具体方法
    //条件分页查询列表列表

    //pageNum查询页数
    fetchData(pageNum=1){
      //页数
      this.page = pageNum;
      //Ajax请求
      api.getPageList(this.page,this.limit,this.seachObj)
      .then(response =>{
        //console.log(response);
        //每一页数据
        this.list = response.data.records;
        //页数
        this.total = response.data.total;

        this.limit = response.data.size;
      })
      //.catch()
    },
    
    //重置方法
    resetData(){
        //清空表单
        this.seachObj={}
        //查询所有数据
        this.fetchData();
    },
    //删除方法
    removeDataById(id){
      this.$confirm('是否删除该角色?', '提示', {
          confirmButtonText: '是',
          cancelButtonText: '否',
          type: 'warning'
        }).then(() => {
            //Ajax请求
            api.removeById(id)
            .then(response=>{
              this.$message({
                  type: 'success',
                  message: '删除成功'
              });
              //刷新页面，查询所有数据
              this.fetchData();
            })
            .catch(()=>{
              this.$message({
                  type: 'info',
                  message: '删除失败'
              });
            })
        })
    },
    //添加角色按钮点击触发
    addRoleBtnClicked(){
        //弹框
        this.dialogVisible = true;
        this.sysRole ={};
    },
    //修改角色按钮点击触发
    editBtnClicked(role){
      if(!role.id){
        this.$message({
            type: 'warning',
            message: '未选择要修改角色'
        });
      }else{
        // api.findRoleById(role.id)
        // .then(response=>{
        //   this.dialogVisible = true;
        //   this.sysRole = response.data;
        // })
        this.dialogVisible = true;
        this.sysRole = role
      }
    },
    //添加或者修改角色
    insertOrUpdateRole(){
      //判断是添加还是修改
      if(!this.sysRole.id){
          //添加
          this.insertRole();
      }else{
          this. updateRole();
      }  
    },
    insertRole(){
      api.addRole(this.sysRole)
      .then(response=>{
        this.$message({
            type: 'success',
            message: '添加成功'
        });
        //关闭弹框
        this.dialogVisible = false;
        this.sysRole ={};
        //刷新页面，查询所有数据
        this.fetchData();
      })
      .catch(()=>{
        this.$message({
            type: 'info',
            message: '添加失败'
        });
      });
    },
    updateRole(){
      api.updateRole(this.sysRole)
      .then(response=>{
        this.$message({
            type: 'success',
            message: '修改成功'
        });
        //关闭弹框
        this.dialogVisible = false;
        this.sysRole ={};
        //刷新页面，查询所有数据
        this.fetchData();
      })
      .catch(()=>{
        this.$message({
            type: 'info',
            message: '修改失败'
        });
      });
    },
    //复选框选择改变事件
    handleSelectionChange(selection){
      this.selectRoles = selection;
    },
    //批量删除按钮点击
    batchRemoveBtnClicked() {
      if(this.selectRoles.length == 0 || this.selectRoles.length == undefined){
        this.$message({
            type: 'warning',
            message: '未选择要删除的角色'
        });
      }else{
        this.$confirm('是否删除勾选的角色?', '提示', {
          confirmButtonText: '是',
          cancelButtonText: '否',
          type: 'warning'
        }).then(() => {
          var idList=[];
          this.selectRoles.forEach(element => {
            idList.push(element.id)
          });
          //Ajax请求
          api.batchRemove(idList)
          .then(response=>{
            this.$message({
                type: 'success',
                message: '删除成功'
            });
            //刷新页面，查询所有数据
            this.fetchData();
          })
          .catch(()=>{
            this.$message({
                type: 'info',
                message: '删除失败'
            });
          })
        })
      }
    },
    //给角色分配权限按钮点击事件
    assignAuthBtnClicked(sysRole){
      console.log(router);
      router.push('/system/assignAuth?id='+sysRole.id+'&roleName='+sysRole.roleName);
      console.log(this.$router);
    }

  }
}
</script>