<template>
  <div class="dashboard-container">
    <!-- 工具条 -->
    <div class="tools-div">
      <el-button type="success" icon="el-icon-plus" size="mini" @click="addMenuBtnClicked()">添 加</el-button>
    </div>
    <el-table
      :data="sysMenuList"
      style="width: 100%;margin-bottom: 20px;margin-top: 10px;"
      row-key="id"
      border
      :default-expand-all="false"
      :tree-props="{children: 'children'}">

      <el-table-column prop="name" label="菜单名称" width="160"/>
      <el-table-column label="图标" width ="50">
        <template slot-scope="scope">
          <i :class="scope.row.icon"></i>
        </template>
      </el-table-column>
      <el-table-column prop="perms" label="权限标识" width="200"/>
      <el-table-column prop="path" label="路由地址" width="120"/>
      <el-table-column prop="component" label="组件路径" width="200"/>
      <el-table-column prop="sortValue" label="排序" width="60"/>
      <el-table-column label="状态" width="80">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status === 1" @change="statusChanged(scope.row)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column prop="createTime" label="创建时间" width="160"/>
      <el-table-column label="操作" align="center" fixed="right">
        <template slot-scope="scope">
          <el-button type="success" v-if="scope.row.type !== 2" icon="el-icon-plus" size="mini" @click="addChildMenu(scope.row)" title="添加下级节点"/>
          <el-button type="primary" icon="el-icon-edit" size="mini" @click="modifyBtnClicked(scope.row)" title="修改"/>
          <el-button type="danger" icon="el-icon-delete" size="mini" @click="removeBtnClicked(scope.row.id)" title="删除" :disabled="scope.row.children.length > 0"/>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog :title="dialogTitle" :visible.sync="dialogVisible" width="40%" >
      <el-form ref="dataForm" :model="sysMenu" label-width="150px" size="small" style="padding-right: 40px;">
        <el-form-item label="上级部门" v-if="sysMenu.id === ''">
          <el-input v-model="sysMenu.parentName" disabled="true"/>
        </el-form-item>
        <el-form-item label="菜单类型" prop="type">
          <el-radio-group v-model="sysMenu.type" :disabled="typeDisabled">
            <el-radio :label="0" :disabled="type0Disabled">目录</el-radio>
            <el-radio :label="1" :disabled="type1Disabled">菜单</el-radio>
            <el-radio :label="2" :disabled="type2Disabled">按钮</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="菜单名称" prop="name">
          <el-input v-model="sysMenu.name"/>
        </el-form-item>
        <el-form-item label="图标" prop="icon" v-if="sysMenu.type !== 2">
          <el-select v-model="sysMenu.icon" clearable>
            <el-option v-for="item in iconList" :key="item.class" :label="item.class" :value="item.class">
            <span style="float: left;">
             <i :class="item.class"></i>  <!-- 如果动态显示图标，这里添加判断 -->
            </span>
              <span style="padding-left: 6px;">{{ item.class }}</span>
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="排序">
          <el-input-number v-model="sysMenu.sortValue" controls-position="right" :min="0" />
        </el-form-item>
        <el-form-item prop="path">
              <span slot="label">
                <el-tooltip content="访问的路由地址，如：`sysUser`" placement="top">
                <i class="el-icon-question"></i>
                </el-tooltip>
                路由地址
              </span>
          <el-input v-model="sysMenu.path" placeholder="请输入路由地址" />
        </el-form-item>
        <el-form-item prop="component" v-if="sysMenu.type !== 0">
              <span slot="label">
                <el-tooltip content="访问的组件路径，如：`system/user/index`，默认在`views`目录下" placement="top">
                <i class="el-icon-question"></i>
                </el-tooltip>
                组件路径
              </span>
          <el-input v-model="sysMenu.component" placeholder="请输入组件路径" />
        </el-form-item>
        <el-form-item v-if="sysMenu.type === 2">
          <el-input v-model="sysMenu.perms" placeholder="请输入权限标识" maxlength="100" />
          <span slot="label">
                <el-tooltip content="控制器中定义的权限字符，如：@PreAuthorize(hasAuthority('bnt.sysRole.list'))" placement="top">
                <i class="el-icon-question"></i>
                </el-tooltip>
                权限字符
              </span>
        </el-form-item>
        <el-form-item label="状态" prop="type">
          <el-radio-group v-model="sysMenu.status">
            <el-radio :label="1">正常</el-radio>
            <el-radio :label="0">停用</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false" size="small" icon="el-icon-refresh-right">取 消</el-button>
        <el-button type="primary" icon="el-icon-check" @click="saveOrUpdateSysMenu()" size="small">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
//引入定义接口的js文件
import api from '@/api/system/menu.js'
const defaultForm = {
    id: '',
    parentId: '',
    name: '',
    type: 0,
    path: '',
    component: '',
    perms: '',
    icon: '',
    sortValue: 1,
    status: 1
}
export default {
  //定义初始值
  data(){
    return{
      sysMenuList: [],
      expandKeys: [], // 需要自动展开的项

      typeDisabled: false,
      type0Disabled: false,
      type1Disabled: false,
      type2Disabled: false,
      dialogTitle: '',

      dialogVisible: false,
      sysMenu: defaultForm,
      saveBtnDisabled: false,
      iconList: [
        {
          class: "el-icon-s-tools",
        },
        {
          class: "el-icon-s-custom",
        },
        {
          class: "el-icon-setting",
        },
        {
          class: "el-icon-user-solid",
        },
        {
          class: "el-icon-s-help",
        },
        {
          class: "el-icon-phone",
        },
        {
          class: "el-icon-s-unfold",
        },
        {
          class: "el-icon-s-operation",
        },
        {
          class: "el-icon-more-outline",
        },
        {
          class: "el-icon-s-check",
        },
        {
          class: "el-icon-tickets",
        },
        {
          class: "el-icon-s-goods",
        },
        {
          class: "el-icon-document-remove",
        },
        {
          class: "el-icon-warning",
        },
        {
          class: "el-icon-warning-outline",
        },
        {
          class: "el-icon-question",
        },
        {
          class: "el-icon-info",
        }
      ]
    }
  },
  //页面渲染之前执行
  created(){
    //调用列表方法
    this.getAllMenu()
  },
   methods:{
    //具体方法
    //条件分页查询列表列表
    //查询菜单列表
    getAllMenu(){
      debugger
        api.getAllMenu()
        .then(response =>{
            this.sysMenuList = response.data;
        });
    },
    //添加菜单按钮点击
    addMenuBtnClicked(){
        //弹框
        this.dialogVisible = true;
        this.typeDisabled = true
        this.sysMenu =defaultForm;
        this.sysMenu.type = 0
        this.sysMenu.component = 'Layout'
        this.sysMenu.parentId='0';
        this.dialogTitle ='添加菜单'
    },
    //添加子菜单
    addChildMenu(currentMenu){
        //弹框
        this.typeDisabled = false
        this.dialogVisible = true
        this.dialogTitle ='添加子菜单'
        this.sysMenu = Object.assign({}, defaultForm)
        this.sysMenu.id = ''

        this.sysMenu.parentId = currentMenu.id
        this.sysMenu.parentName = currentMenu.name
        if(currentMenu.type === 0) {
          this.sysMenu.type = 1
          this.typeDisabled = false
          this.type0Disabled = false
          this.type1Disabled = false
          this.type2Disabled = true
        } else if(currentMenu.type === 1) {
          this.sysMenu.type = 2
          this.typeDisabled = true
        }
    },
    //修改菜单按钮点击
    modifyBtnClicked(sysMenu){
        //弹框
        this.dialogVisible = true;
        this.typeDisabled = true;
        this.sysMenu =sysMenu;
        this.dialogTitle ='修改菜单'
    },
    //移除按钮点击
    removeBtnClicked(id){
      api.removeMenu(id)
      .then(response=>{
          this.$message({
              type: 'success',
              message: '移除成功'
          });
          //刷新页面，查询所有数据
          this.getAllMenu();
      })
    },
    //保存或修改菜单
    saveOrUpdateSysMenu(){
      if(this.sysMenu.type === 0 && this.sysMenu.parentId !== 0) {
        this.sysMenu.component = 'ParentView'
      }
      this.$refs.dataForm.validate(valid => {
        if (valid) {
          this.saveBtnDisabled = true // 防止表单重复提交
          //id为空则添加
          if(!this.sysMenu.id){
            api.addMenu(this.sysMenu)
              .then(response=>{
                  this.$message({
                      type: 'success',
                      message: '添加成功'
                  });
                  //关闭弹框
                  this.dialogVisible = false;
                  this.sysMenu =defaultForm;
                  //刷新页面，查询所有数据
                  this.getAllMenu();
            })
          }else{
            //否则为修改
            api.updateMenu(this.sysMenu)
            .then(response=>{
              this.$message({
                  type: 'success',
                  message: '修改成功'
              });
            //关闭弹框
            this.dialogVisible = false;
            this.sysMenu =defaultForm;
            //刷新页面，查询所有数据
            this.getAllMenu();
            })
          }
        }
      })
    },
    statusChanged(sysMenu){
      //判断，当前菜单是否可用
      sysMenu.status = sysMenu.status === 1 ? 0 : 1;
      // api.menuStatusChange(sysMenu.id, sysMenu.status)
      // .then(response=>{
      //   //??刷新界面
      // });
      api.updateMenu(sysMenu)
      .then(response=>{

      })
    }
   }
}
</script>