<template>
  <div class="app-container">
    <div class="search-div">
      <el-form label-width="70px" size="small">
        <el-row>
          <el-col :span="8">
            <el-form-item label="关 键 字">
              <el-input
                style="width: 95%"
                v-model="seachObj.keyword"
                placeholder="用户名/姓名/手机号码/地址"
                clearable
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="操作时间">
              <el-date-picker
                v-model="createTimes"
                type="datetimerange"
                range-separator="至"
                start-placeholder="开始时间"
                end-placeholder="结束时间"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="margin-right: 10px; width: 100%"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="display: flex">
          <el-button
            type="primary"
            icon="el-icon-search"
            size="mini"
            @click="selectUserPage()"
            >搜索</el-button
          >
          <el-button icon="el-icon-refresh" size="mini" @click="resetBtnClicked"
            >重置</el-button
          >
        </el-row>
      </el-form>
    </div>

    <!-- 工具条 -->
    <div class="tools-div">
      <el-button
        type="success"
        icon="el-icon-plus"
        size="mini"
        @click="addUserBtnClicked"
        >添 加</el-button
      >
    </div>

    <!-- 列表 -->
    <el-table
      v-loading="listLoading"
      :data="list"
      stripe
      border
      style="width: 100%; margin-top: 10px"
    >
      <el-table-column label="序号" width="70" align="center">
        <template slot-scope="scope">
          {{ (page - 1) * limit + scope.$index + 1 }}
        </template>
      </el-table-column>
     
     <el-table-column v-for="(item,index) in columns"
     :label="item.label" :prop="item.prop" :key="index">

     </el-table-column>


      <el-table-column label="状态" width="80">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status === 1"
            @change="statusChanged(scope.row)"
          >
          </el-switch>
        </template>
      </el-table-column>
      <!-- <el-table-column prop="createTime" label="创建时间" /> -->

      <el-table-column label="操作" align="center" fixed="right">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            size="mini"
            @click="editBtnClicked(scope.row)"
            title="修改"
          />
          <el-button
            type="danger"
            icon="el-icon-delete"
            size="mini"
            @click="removeBtnClicked(scope.row.id)"
            title="删除"
          />
          <el-button
            type="warning"
            icon="el-icon-baseball"
            size="mini"
            @click="assignRolesBtnClicked(scope.row)"
            title="分配角色"
          />
        </template>
      </el-table-column>
    </el-table>

    <!-- 分页组件 -->
    <el-pagination
      :current-page="page"
      :total="total"
      :page-size="limit"
      style="padding: 30px 0; text-align: center"
      layout="total, prev, pager, next, jumper"
      @current-change="selectUserPage"
    />

    <el-dialog title="添加/修改" :visible.sync="dialogVisible" width="40%">
      <el-form
        ref="dataForm"
        :model="sysUser"
        label-width="100px"
        size="small"
        style="padding-right: 40px"
      >
        <el-form-item label="用户名" prop="username">
          <el-input v-model="sysUser.username" />
        </el-form-item>
        <el-form-item v-if="!sysUser.id" label="密码" prop="password">
          <el-input v-model="sysUser.password" type="password" />
        </el-form-item>
        <el-form-item label="姓名" prop="name">
          <el-input v-model="sysUser.name" />
        </el-form-item>
        <el-form-item label="手机" prop="phone">
          <el-input v-model="sysUser.phone" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button
          @click="dialogVisible = false"
          size="small"
          icon="el-icon-refresh-right"
          >取 消</el-button
        >
        <el-button
          type="primary"
          icon="el-icon-check"
          @click="commitBtnClicked()"
          size="small"
          >确 定</el-button
        >
      </span>
    </el-dialog>

    <el-dialog title="分配角色" :visible.sync="dialogRoleVisible">
      <el-form label-width="80px">
        <el-form-item label="用户名">
          <el-input disabled :value="sysUser.username"></el-input>
        </el-form-item>

        <el-form-item label="角色列表">
          <el-checkbox
            :indeterminate="isIndeterminate"
            v-model="checkAll"
            @change="handleCheckAllChange"
            >全选</el-checkbox
          >
          <div style="margin: 15px 0"></div>
          <el-checkbox-group
            v-model="userRoleIds"
            @change="handleCheckedChange"
          >
            <el-checkbox
              v-for="role in allRoles"
              :key="role.id"
              :label="role.id"
              >{{ role.roleName }}</el-checkbox
            >
          </el-checkbox-group>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button type="primary" @click="assignRoleToUser" size="small"
          >保存</el-button
        >
        <el-button @click="dialogRoleVisible = false" size="small"
          >取消</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
//引入定义接口的js文件
import api from "@/api/system/user.js";
import roleApi from "@/api/system/role.js";

const defaultForm = {
  id: "",
  username: "",
  password: "",
  name: "",
  phone: "",
  status: 1,
};
export default {
  //定义初始值
  data() {
    return {
      listLoading: false, //是否显示加载图标
      list: [], //用户列表
      total: 0, //总记录数
      page: 1, //当前页
      limit: 3, //每页显示记录数
      seachObj: {}, //条件查询封装对象
      dialogVisible: false, //是否弹框

      createTimes: [],

      dialogVisible: false,
      sysUser: defaultForm,
      saveBtnDisabled: false,

      dialogRoleVisible: false, //显示分配角色对话框
      allRoles: [], // 所有角色列表
      userRoleIds: [], // 用户的角色ID的列表
      isIndeterminate: false, // 是否是不确定的--全选勾选框半勾选状态
      checkAll: false, // 是否全选

      columns: [
        {
          prop: "username",
          label: "用户名",
        },
        {
          prop: "address",
          label: "地址",
        }
      ],
    };
  },

  //页面渲染之前执行
  created() {
    //调用列表方法
    this.selectUserPage();
  },
  methods: {
    //条件分页查询列表列表
    //pageNum查询页数
    selectUserPage(pageNum = 1) {
      //页数
      this.page = pageNum;
      if (this.createTimes && this.createTimes.length == 2) {
        this.seachObj.createTimeBegin = this.createTimes[0];
        this.seachObj.createTimeEnd = this.createTimes[1];
      }
      //Ajax请求
      api
        .getUserPageList(this.page, this.limit, this.seachObj)
        .then((response) => {
          //console.log(response);
          //每一页数据
          this.list = response.data.records;
          //页数
          this.total = response.data.total;

          this.limit = response.data.size;
        });
      //.catch()
    },
    //重置按钮点击事件
    resetBtnClicked() {
      this.createTimes = [];
      this.seachObj = {};
      this.selectUserPage();
    },
    //添加按钮点击处理
    addUserBtnClicked() {
      this.dialogVisible = true;
      this.sysUser = {};
    },
    //修改按钮点击事件
    editBtnClicked(sysUser) {
      this.dialogVisible = true;
      this.sysUser = sysUser;
    },
    //删除按钮点击事件
    removeBtnClicked(id) {
      this.$confirm("是否删除勾选的用户?", "提示", {
        confirmButtonText: "是",
        cancelButtonText: "否",
        type: "warning",
      }).then(() => {
        api
          .removeUserById(id)
          .then((response) => {
            this.$message({
              type: "success",
              message: "删除成功",
            });
            //刷新页面，查询所有数据
            this.selectUserPage();
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "删除失败",
            });
          });
      });
    },
    //状态改变事件
    statusChanged(sysUser) {
      //判断，当前用户是否可用
      sysUser.status = sysUser.status === 1 ? 0 : 1;
      api.userStatusChange(sysUser.id, sysUser.status).then((response) => {
        //??刷新界面
      });
    },
    //弹框确定按钮点击
    commitBtnClicked() {
      //判断是添加还是修改
      if (!this.sysUser.id) {
        //添加
        this.insertUser();
      } else {
        this.updateUser();
      }
    },
    //添加用户
    insertUser() {
      api
        .addUser(this.sysUser)
        .then((response) => {
          this.$message({
            type: "success",
            message: "添加成功",
          });
          //关闭弹框
          this.dialogVisible = false;
          this.sysRole = {};
          //刷新页面，查询所有数据
          this.selectUserPage();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "添加失败",
          });
        });
    },
    //修改用户
    updateUser() {
      api
        .updateUser(this.sysUser)
        .then((response) => {
          this.$message({
            type: "success",
            message: "修改成功",
          });
          //关闭弹框
          this.dialogVisible = false;
          this.sysRole = {};
          //刷新页面，查询所有数据
          this.selectUserPage();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "修改失败",
          });
        });
    },
    //分配角色按钮点击事件
    assignRolesBtnClicked(sysUser) {
      this.sysUser = sysUser;
      this.dialogRoleVisible = true;
      roleApi.getRolesByUserId(sysUser.id).then((response) => {
        this.allRoles = response.data.allRoles;
        this.userRoleIds = response.data.userRoleIds;
        this.checkAll = this.userRoleIds.length === this.allRoles.length;
        this.isIndeterminate =
          this.userRoleIds.length > 0 &&
          this.userRoleIds.length < this.allRoles.length;
      });
    },
    handleCheckAllChange(checked) {
      // 如果当前全选, userRoleIds就是所有角色id的数组, 否则是空数组
      this.userRoleIds = checked ? this.allRoles.map((item) => item.id) : [];
      // 如果当前不是全选也不全不选时, 指定为false
      this.isIndeterminate = false;
    },
    handleCheckedChange(checked) {
      const { userRoleIds, allRoles } = this;
      this.checkAll =
        userRoleIds.length === allRoles.length && allRoles.length > 0;
      this.isIndeterminate =
        userRoleIds.length > 0 && userRoleIds.length < allRoles.length;
    },
    //分配角色
    assignRoleToUser() {
      let assginRoleVo = {
        userId: this.sysUser.id,
        roleIdList: this.userRoleIds,
      };
      roleApi.assignRolesToUser(assginRoleVo).then((response) => {
        this.$message.success(response.message || "分配角色成功");
        this.dialogRoleVisible = false;
        this.selectUserPage(this.page);
      });
    },
  },
};
</script>